.tenet-pro-card-from,
.tenet-pro-card-time-text,
.tenet-pro-card-before-price,
.tenet-pro-card-percent {
    margin: 0;
    padding-left: 0;
}

.tenet-pro-card-body:hover {
    cursor: pointer;
}

.tenet-pro-card-title {
    font-size: 3.5vh;
}

.tenet-pro-card-shop,
.tenet-pro-card-from {
    font-size: 2vh;
    margin-top: 10px;
}

.col.tenet-pro-card-left {
    direction: ltr;
}

.tenet-pro-card-class {
    font-size: 3vh;
}

.tenet-pro-card-best {
    color: rgb(66, 136, 38);
    /* border: 1px solid rgb(66, 136, 38); */
    border-radius: 15px;
}

.tenet-pro-card-middle {
    color: rgb(146, 124, 26);
    /* border: 1px solid rgb(146, 124, 26); */
    border-radius: 15px;
}

.tenet-pro-card-worst {
    color: rgb(136, 41, 38);
    /* border: 1px solid rgba(136, 41, 38, 0.664); */
    border-radius: 15px;
}

.tenet-pro-card-after-price {
    font-size: 3vh;
    margin: 0;
}

.tenet-card-worst-before {
    font-size: 2.5vh;
    color: #88292694;
    padding-right: 2vh;
}

.tenet-card-middle-before {
    font-size: 2.5vh;
    color: #927c1a85;
    padding-right: 2vh;
}

.tenet-card-best-before {
    font-size: 2.5vh;
    color: #488826a6;
    padding-right: 2vh;
}

.tenet-pro-card-percent {
    color: #c13737;
}

.tenet-pro-card-title {
    display: block;
    text-align: center;
    margin: 0 auto;
}


/*********************Modal***********************/

.tenet-pro-modal-main {
    color: #708936;
}

.tenet-pro-modal-body {
    padding: 0 5%;
}

.tenet-pro-modal-content {
    border: none;
}

.tenet-pro-modal-des {
    text-align: justify;
    padding-top: 2%;
}

.tenet-pro-modal-address-title {
    margin: 1%;
    font-family: 'sansBold';
    color: #5f742f;
}

.tenet-pro-modal-shop-name {
    margin: 0;
    font-family: 'sansBold';
    color: #5f742f;
}

.tenet-pro-modal-class-div {
    display: block;
    margin: 0 auto;
    font-size: 4vh;
    padding-right: 8%;
    text-align: end;
}

.tenet-card-modal-close {
    cursor: pointer;
}

.tenet-pro-modal-title {
    display: flex;
    font-size: 4vh;
    font-family: sansBold;
}

.tenet-pro-modal-icon-item {
    font-size: 3vh;
    margin: 0 10px;
}

.tenet-pro-modal-icon-item:hover {
    cursor: pointer;
}

.tenet-pro-modal-profile {
    border-radius: 50%;
    padding: 4px;
}

.tenet-pro-modal-shop-row {
    padding-left: 0;
    margin-right: 1%;
}

.tenet-pro-modal-price-row {
    padding: 3% 2% 0 2%;
}

.tenet-pro-modal-left {
    padding-left: 1%;
}

.tenet-pro-modal-left {
    direction: ltr;
}

.tenet-pro-modal-time-text {
    padding: 0;
}

.tenet-pro-modal-after-price {
    color: #4f9125;
    font-size: 3vh;
    margin: 0;
}

.tenet-pro-modal-before-price {
    color: #50922794;
    padding-right: 10px;
    margin: 0;
}

.tenet-pro-modal-percent {
    color: #f00;
    margin: 0;
}

.tenet-pro-modal-footer,
.tenet-pro-modal-header {
    border: none;
}

.tenet-card-time-left-div {
    padding-left: 0;
    direction: ltr;
}
.tenet-pro-modal-icons{
direction: ltr;
}

/***************Media Queries****************/

@media only screen and (max-aspect-ratio: 720/271) {
    .tenet-pro-card-full {
        width: 50%;
        margin: 7.5px 0 7.5px 0;
    }
}


/*768-448*/

@media only screen and (max-aspect-ratio: 12/7) {
    .tenet-pro-card-full {
        width: 50%;
    }
}

@media only screen and (max-aspect-ratio: 128/75) {
    .tenet-pro-card-full {
        width: 50%;
    }
}


/*765-750*/

@media only screen and (max-aspect-ratio: 128/125) {
    .tenet-pro-card-full {
        width: 100%;
    }

    .tenet-shop-main-card {
        width: 100%;
    }

    .tenet-card-main-row {
        --bs-gutter-x: 0;
    }

    .tenet-shop-body {
        padding: 0;
    }
}

/*2/3-surface 7 pro*/

@media only screen and (min-aspect-ratio: 2/3) and (max-width: 915px) and (min-width: 910px) {
    .tenet-pro-modal-main>.modal-dialog {
        margin: 50px;
        display: flex;
        max-width: fit-content;
    }
}

/*surface duo*/
@media only screen and(max-aspect-ratio: 3/4) and (max-width: 550px) and (min-width: 530px) {
    .tenet-pro-modal-main>.modal-dialog {
        margin: 25px;
        display: flex;
        max-width: fit-content;
    }

    .tenet-pro-card-time-logo,
    .tenet-card-modal-close,
    .tenet-pro-modal-time-logo,
    .tenet-pro-modal-shop-name,
    .tenet-pro-modal-main * p {
        font-size: 30px;
    }

    .tenet-pro-modal-title {
        width: 58.33333333%;
        flex: 0 0 auto;
    }

    .tenet-pro-modal-class-div {
        width: 41.66666667%;
        flex: 0 0 auto;
    }
}

/*ipad air 
and Ipad mini 
and surface pro 7*/

@media only screen and (min-aspect-ratio: 41 /59) and (max-width: 830px) and (min-width: 810px),
(max-aspect-ratio: 3/4) and (max-width: 770px) and (min-width: 766px),
(min-aspect-ratio: 2/3) and (max-width: 915px) and (min-width: 910px) {
    .tenet-pro-modal-main>.modal-dialog {
        margin: 25px;
        display: flex;
        max-width: fit-content;
    }

    .tenet-pro-card-time-logo,
    .tenet-card-modal-close,
    .tenet-pro-modal-time-logo,
    .tenet-pro-modal-shop-name,
    .tenet-pro-modal-main * p,
    .card-body.tenet-pro-card-body * p {
        font-size: 27px;
    }

    .tenet-pro-modal-title {
        width: 58.33333333%;
        flex: 0 0 auto;
    }

    .tenet-pro-modal-class-div {
        width: 41.66666667%;
        flex: 0 0 auto;
    }
}

/*galaxy a51/71*/
@media only screen and (max-aspect-ratio: 206/457) and (max-width: 420px) and (min-width: 400px) {
    .tenet-pro-modal-main>.modal-dialog {
        margin: 5px;
        display: flex;
        max-width: fit-content;
    }

    .tenet-pro-card-time-logo,
    .tenet-card-modal-close,
    .tenet-pro-modal-time-logo,
    .tenet-pro-modal-shop-name,
    .tenet-pro-modal-main * p {
        font-size: 22px;
    }

    .tenet-pro-modal-icons {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}

/*iphone XR*/
@media only screen and (max-aspect-ratio: 207/448) and (max-width: 416px) and (min-width: 412px),
(max-aspect-ratio: 195 / 422) and (max-width: 395px) and (min-width: 385px),
(max-aspect-ratio: 18/37) and (max-width: 365px) and (min-width: 355px),
(max-aspect-ratio: 412/915) and (max-width: 415px) and (min-width: 410px),
(max-aspect-ratio: 280/653) and (max-width: 285px) and (min-width: 275px) {
    .tenet-pro-modal-icons {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .tenet-card-modal-close {
        padding-right: 10px;
    }
}

/*1024-750*/

@media only screen and (min-aspect-ratio: 512/375) {
    .tenet-pro-card-full {
        width: 48%;
        margin: 7.5px auto 7.5px auto;
    }
}

@media only screen and (max-aspect-ratio: 512/683) {
    .tenet-pro-card-full {
        width: 100%;
    }
}


/*1440-750*/

@media only screen and (min-aspect-ratio: 48/25) {
    .tenet-pro-card-full {
        width: 33%;
    }
}

@media only screen and (max-aspect-ratio: 3/4) {
    .tenet-pro-card-full {
        width: 100%;
    }
}