    body {
        direction: rtl;
        font-family: 'sansNormal';
    }
    
    .tenet-shop-avatar-add:hover,
    .tenet-shop-avatar-add-done:hover,
    .tenet-shop-banner-add-done:hover,
    .tenet-shop-pencil-edit:hover,
    .tenet-shop-info-cancel:hover,
    .tenet-shop-info-done:hover,
    .tenet-shop-banner-change:hover {
        cursor: pointer;
    }
    
    .tenet-shop-body,
    .tenet-shop-row {
        height: 100%;
    }
    
    .tenet-shop-row {
        display: flex;
    }
    
    .tenet-shop-profile {
        width: 15%;
        background: #fff;
    }
    
    .tenet-shop-main-card {
        padding: 0 1% 10% 1%;
        background: #FFF;
    }
    
    .tenet-shop-banner-div {
        border-radius: 16px;
    }
    
    .tenet-shop-banner {
        border: 1px solid #0000001c;
    }
    
    .tenet-shop-shop-name {
        font-size: 4vh;
        font-family: 'sansBold';
        background-color: #fff !important;
        border: none;
        width: 50%;
    }
    
    .tenet-shop-info-card {
        margin: -5% 7% 0 0;
    }
    
    .has-no-border {
        border-radius: 0;
        border: none;
    }
    
    .tenet-shop-label-tel,
    .tenet-shop-input-tel {
        flex: none !important;
        background-color: #fff !important;
    }
    
    .tenet-shop-input-address {
        background-color: #fff !important;
    }
    
    .tenet-shop-tel-group {
        margin-top: 3%;
    }
    
    .tenet-shop-contact {
        margin-top: 3%;
    }
    
    .tenet-shop-banner-div {
        height: 32vh !important;
        background-image: url("../../components/img/banner.png");
        background-size: cover;
        background-position: center;
    }
    
    .tenet-nav-link-div {
        padding: 5%;
    }
    
    .tenet-shop-pencil,
    .tenet-shop-info-done {
        color: #89a741;
        font-size: 4vh;
    }
    
    .tenet-shop-info-cancel {
        font-size: 4vh;
        color: rgb(192, 19, 19);
    }
    
    .tenet-shop-banner-upload-main {
        position: absolute;
        bottom: 3%;
        left: 1%;
        background: #fff;
        font-size: 1.2em;
        color: #89a741;
        border-radius: 5px;
        padding: 0 5px;
    }
    
    .tenet-shop-avatar-upload {
        font-size: 1.5em;
        color: #89a741;
        background: #fff;
        padding: 0 0.3em;
        border-radius: 50%;
        border: 1px solid #00000021;
        margin-right: 13px;
        display: inline-block;
        position: relative;
    }
    
    .tenet-shop-avatar-upload-done-radius {
        border-radius: 15px;
    }
    /*****************************************************/
    /*375/667-Iphone SE*/
    
    @media only screen and (max-aspect-ratio: 375/667) and (max-width: 380px) and (min-width: 370px) {
        .tenet-shop-info-card {
            margin: -8% 0 0 0;
        }
        .tenet-shop-profile {
            width: 30%;
            transform: translate(-40%, -50%)!important;
        }
        .tenet-shop-avatar-upload {
            margin: 0;
            font-size: 1.2em;
        }
        .tenet-shop-input {
            font-size: 1.1em;
        }
        .tenet-shop-label-tel {
            display: block !important;
            width: 100% !important;
        }
        #tenet-shop-telephone,
        #tenet-shop-cellphone {
            direction: ltr;
            width: 100% !important;
        }
        .tenet-shop-shop-name {
            width: 70%;
        }
    }
    /*207 : 448-Iphone XR*/
    
    @media only screen and (max-aspect-ratio: 207/448) and (max-width: 416px) and (min-width: 412px) {
        .tenet-shop-info-card {
            margin: -10% 0 0 0;
        }
        .tenet-shop-profile {
            width: 35%;
            transform: translate(-35%, -50%)!important;
        }
        .tenet-shop-input {
            font-size: 1.5em;
        }
        .tenet-shop-label-tel {
            display: block !important;
            width: 100% !important;
        }
        #tenet-shop-telephone,
        #tenet-shop-cellphone {
            direction: ltr;
            width: 100% !important;
        }
        .tenet-shop-shop-name {
            width: 70%;
        }
    }
    /*390-844-iphone 12 pro*/
    
    @media only screen and (max-aspect-ratio: 195 / 422) and (max-width: 395px) and (min-width: 385px) {
        .tenet-shop-profile {
            width: 47%;
            transform: translate(-25%, -50%)!important;
        }
        .tenet-shop-avatar-upload {
            margin: 0;
            font-size: 1.8em;
        }
        .tenet-shop-info-card {
            margin: -13% 0 0 0;
        }
        .tenet-shop-label-tel {
            display: block !important;
            width: 100% !important;
        }
        #tenet-shop-telephone,
        #tenet-shop-cellphone {
            direction: ltr;
            width: 100% !important;
        }
        .tenet-shop-input {
            font-size: 1.5em;
        }
        .tenet-shop-pencil,
        .tenet-shop-shop-name,
        .tenet-shop-info-done,
        .tenet-shop-info-cancel {
            font-size: 4vh;
        }
        .tenet-shop-shop-name {
            width: 65%;
        }
    }
    /*360/740 galaxy s8 plus*/
    
    @media only screen and (max-aspect-ratio: 18/37) and (max-width: 365px) and (min-width: 355px) {
        .tenet-shop-profile {
            width: 37%;
            transform: translate(-25%, -50%)!important;
        }
        .tenet-shop-avatar-upload {
            margin: 0;
            font-size: 1.2em;
        }
        .tenet-shop-info-card {
            margin: -8% 0 0 0;
        }
        .tenet-shop-label-tel {
            display: block !important;
            width: 100% !important;
        }
        #tenet-shop-telephone,
        #tenet-shop-cellphone {
            direction: ltr;
            width: 100% !important;
        }
        .tenet-shop-input {
            font-size: 1.2em;
        }
        .tenet-shop-pencil,
        .tenet-shop-shop-name,
        .tenet-shop-info-done,
        .tenet-shop-info-cancel {
            font-size: 3.5vh;
        }
        .tenet-shop-shop-name {
            width: 65%;
        }
    }
    /*412/915 Galaxy s20 ultra*/
    
    @media only screen and (max-aspect-ratio: 412/915) and (max-width: 415px) and (min-width: 410px) {
        .tenet-shop-profile {
            width: 37%;
            transform: translate(-25%, -50%)!important;
        }
        .tenet-shop-avatar-upload {
            margin: 0;
            font-size: 1.5em;
        }
        .tenet-shop-info-card {
            margin: -8% 0 0 0;
        }
        .tenet-shop-label-tel {
            display: block !important;
            width: 100% !important;
        }
        #tenet-shop-telephone,
        #tenet-shop-cellphone {
            direction: ltr;
            width: 100% !important;
        }
        .tenet-shop-input {
            font-size: 1.4em;
        }
        .tenet-shop-pencil,
        .tenet-shop-shop-name,
        .tenet-shop-info-done,
        .tenet-shop-info-cancel {
            font-size: 3vh;
        }
        .tenet-shop-shop-name {
            width: 65%;
        }
    }
    /*41 : 59-ipad air*/
    
    @media only screen and (min-aspect-ratio: 41 /59) and (max-width: 830px) and (min-width: 810px) {
        .tenet-shop-banner-upload-main {
            font-size: 2.5em;
            padding: 0 10px;
        }
        .tenet-shop-profile {
            width: 28%;
            transform: translate(-25%, -50%)!important;
        }
        .tenet-shop-avatar-upload {
            margin: 0;
            font-size: 2.3em;
        }
        .tenet-shop-info-card {
            margin: -8% 0 0 0;
        }
        .tenet-shop-label-tel {
            display: block !important;
            width: 100% !important;
        }
        #tenet-shop-telephone,
        #tenet-shop-cellphone {
            direction: ltr;
            width: 100% !important;
        }
        .tenet-shop-input {
            font-size: 2em;
        }
        .tenet-shop-pencil,
        .tenet-shop-shop-name,
        .tenet-shop-info-done,
        .tenet-shop-info-cancel {
            font-size: 3.7vh;
        }
        .tenet-shop-shop-name {
            width: 80%;
        }
    }
    /*768/1024-ipad mini*/
    
    @media only screen and (max-aspect-ratio: 3/4) and (max-width: 770px) and (min-width: 766px) {
        .tenet-shop-banner-upload-main {
            font-size: 2em;
            padding: 0 8px;
        }
        .tenet-shop-profile {
            width: 25%;
            transform: translate(-25%, -50%)!important;
        }
        .tenet-shop-avatar-upload {
            margin: 0;
            font-size: 1.8em;
        }
        .tenet-shop-input {
            font-size: 1.7em;
        }
        .tenet-shop-label-tel {
            display: block !important;
            width: 100% !important;
        }
        #tenet-shop-telephone,
        #tenet-shop-cellphone {
            direction: ltr;
            width: 100% !important;
        }
        .tenet-shop-pencil,
        .tenet-shop-shop-name,
        .tenet-shop-info-done,
        .tenet-shop-info-cancel {
            font-size: 3.5vh;
        }
        .tenet-shop-shop-name {
            width: 75%;
        }
    }
    /*2/3-surface 7 pro*/
    
    @media only screen and (min-aspect-ratio: 2/3) and (max-width: 915px) and (min-width: 910px) {
        .tenet-shop-banner-upload-main {
            font-size: 3.5em;
            padding: 0 10px;
        }
        .tenet-shop-profile {
            width: 30%;
            transform: translate(-25%, -50%)!important;
        }
        .tenet-shop-avatar-upload {
            margin: 0;
            font-size: 3em;
        }
        .tenet-shop-info-card {
            margin: -8% 0 0 0;
        }
        .tenet-shop-label-tel {
            display: block !important;
            width: 100% !important;
        }
        #tenet-shop-telephone,
        #tenet-shop-cellphone {
            direction: ltr;
            width: 100% !important;
        }
        .tenet-shop-input {
            font-size: 2.5em;
        }
        .tenet-shop-pencil,
        .tenet-shop-shop-name,
        .tenet-shop-info-done,
        .tenet-shop-info-cancel {
            font-size: 3.5vh;
        }
        .tenet-shop-shop-name {
            width: 75%;
        }
    }
    /*540-720-surface duo*/
    
    @media only screen and (max-aspect-ratio: 3/4) and (max-width: 550px) and (min-width: 530px) {
        .tenet-shop-profile {
            width: 38%;
            transform: translate(-25%, -50%)!important;
        }
        .tenet-shop-avatar-upload {
            margin: 0;
            font-size: 1.8em;
        }
        .tenet-shop-info-card {
            margin: -12% 0 0 0;
        }
        .tenet-shop-label-tel {
            display: block !important;
            width: 100% !important;
        }
        #tenet-shop-telephone,
        #tenet-shop-cellphone {
            direction: ltr;
            width: 100% !important;
        }
        .tenet-shop-input {
            font-size: 1.4em;
        }
        .tenet-shop-pencil,
        .tenet-shop-shop-name,
        .tenet-shop-info-done,
        .tenet-shop-info-cancel {
            font-size: 5vh;
        }
        .tenet-shop-shop-name {
            width: 75%;
        }
    }
    
    @media only screen and (max-width: 915px) {
        html,
        body,
        .tenet-shop-body,
        .tenet-shop-main-card {
            margin: 0 !important;
            width: 100% !important;
        }
    }
    /*280/653 Galaxy fold*/
    
    @media only screen and (max-aspect-ratio: 280/653) and (max-width: 285px) and (min-width: 275px) {
        .tenet-shop-banner-upload-main {
            font-size: 1.5em;
        }
        .tenet-shop-input {
            font-size: 1em !important;
        }
        .tenet-shop-info-card {
            margin: -18% 0 0 0;
        }
        .tenet-shop-profile {
            width: 40%;
            transform: translate(-35%, -50%)!important;
        }
        .tenet-shop-avatar-upload {
            margin: 0;
            font-size: 1.2em;
        }
        .tenet-shop-label-tel {
            display: block !important;
            width: 100% !important;
        }
        #tenet-shop-telephone,
        #tenet-shop-cellphone {
            direction: ltr;
            width: 100% !important;
        }
        .tenet-shop-shop-name {
            width: 100%;
        }
    }
    /*1024*600-nest hub*/
    
    @media only screen and (max-aspect-ratio: 128/75) and (min-width: 1024px) {
        .tenet-shop-profile {
            width: 20%;
            transform: translate(-25%, -50%)!important;
        }
        .tenet-shop-avatar-upload {
            margin: 0;
            font-size: 1.8em;
        }
        .tenet-shop-info-card {
            margin: -3% 0 0 0;
        }
        .tenet-shop-label-tel {
            display: inline-block !important;
            width: auto !important;
        }
        #tenet-shop-telephone,
        #tenet-shop-cellphone {
            direction: rtl;
            display: inline-block;
            width: auto !important;
        }
        #tenet-shop-address {
            width: 100% !important;
        }
        .tenet-shop-input {
            font-size: 1.2em;
        }
        .tenet-shop-tel-group {
            width: auto !important;
            display: inline-block !important;
        }
        .tenet-shop-tel-address {
            display: block !important;
        }
        .tenet-shop-pencil,
        .tenet-shop-shop-name,
        .tenet-shop-info-done,
        .tenet-shop-info-cancel {
            font-size: 5vh;
        }
        .tenet-shop-shop-name {
            width: 75%;
        }
    }
    /*1440*750*/
    
    @media only screen and (max-aspect-ratio: 48/25) and (min-width: 1347px) {
        .tenet-shop-profile {
            width: 15%;
            transform: translate(-25%, -50%)!important;
        }
        .tenet-shop-contact {
            margin-top: 0;
        }
        .tenet-shop-avatar-upload {
            margin: 0;
            font-size: 1.8em;
        }
        .tenet-shop-info-card {
            margin: -3% 0 0 0;
        }
        .tenet-shop-label-tel {
            display: inline-block !important;
            width: auto !important;
        }
        #tenet-shop-telephone,
        #tenet-shop-cellphone {
            direction: rtl;
            display: inline-block;
            width: auto !important;
        }
        #tenet-shop-address {
            width: 100% !important;
        }
        .tenet-shop-input {
            font-size: 1.2em;
        }
        .tenet-shop-tel-group {
            width: auto !important;
            display: inline-block !important;
        }
        .tenet-shop-tel-address {
            display: block !important;
        }
        .tenet-shop-pencil,
        .tenet-shop-shop-name,
        .tenet-shop-info-done,
        .tenet-shop-info-cancel {
            font-size: 5vh;
        }
        .tenet-shop-shop-name {
            width: 75%;
        }
    }