body {
    background-image: linear-gradient(27deg, #ebffdb 0%, #d6ebc594 74%);
    direction: rtl;
    font-family: 'sansNormal';
}

.tenet-shop-main-card {
    padding: 0 1% 10% 1%;
    background: #FFF;
}