body {
    direction: rtl;
    font-family: 'sansNormal';
}

.tenet-shop-main-card {
    padding: 0 1% 10% 1%;
    background: #FFF;
}

.div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.div .sec {
    margin: 10px 5px;
    width: calc(25% - 10px);
}