body,
html {
    /*  background-image: url("../components/img/21.jpg");
    background-size: cover;*/
    height: 100%;
    direction: rtl;
    font-family: sansLight;
    /* background: linear-gradient(113deg, rgba(163, 2, 0, 1) 0%, rgba(250, 167, 0, 1) 29%, rgba(200, 115, 3, 1) 68%, rgba(255, 209, 0, 1) 100%); */
}

img.tenet-sigup-single-logo {
    position: absolute;
    width: 5%;
    top: 2%;
    right: 2%;
}


/************** card component style *****************/



.has-not-border {
    border: none;
}

.tenet-signup-signupcard {
    box-shadow: 0 0 7px 6px #00000040;
    border-radius: 5%;
}

.tenet-signup-signup-header {
    padding-top: 0;
    padding-bottom: 0;
}

p.tenet-signup-signup-wellcome {
    font-family: 'sansBold';
    font-size: 3.5vh;
    margin-right: 4%;
}

input.tenet-signup-username,
input.tenet-signup-password {
    border-bottom: 1px solid #abababbd;
    border-radius: 0;
}

i.tenet-signup-logo-top {
    font-size: 6vh;
}

.has-updown-margin-form {
    margin-top: 1%;
    margin-bottom: 1.5%;
}

i.tenet-signup-forgotpass {
    font-size: 2vh;
    margin-top: 5%;
    font-style: normal;
    font-family: sansBold;
}

.tenet-signup-div-submit {
    justify-content: left;
    display: flex;
}
.tenet-register-login-submit {
    font-family: 'sansBold';
    border: none !important;
    box-shadow: rgb(182 200 215) 3px 3px 6px 0px inset, rgb(224 232 233 / 70%) -3px -3px 6px 1px inset;
}
.progress {
    opacity: 0.71;
    margin: 2% 0%;
}
.tenet-register-login-submit:hover {
    color: #0d6efd;
    background: #ebffdb;
}
.tenet-signup-linkreg{
    border: 1px solid #d2ffae !important;
    background: #ebffdb;
}
.tenet-signup-linkreg:hover{
    background: #fff;
    color: #198754;
}

/******************************************/
/***********responsive styles*************/
@media only screen and (max-width: 1925px) {
    .tenet-signup-signupcard {
        background: #fff;
    }
    body {
        background-image: url("../../components/bckgrnd/loginBack1920.png");
        background-size: cover;
    }
}

@media only screen and (max-width: 1445px) {
    body {
        background-image: url("../../components/bckgrnd/loginBack1440.png");
        background-size: cover;
    }
}

@media only screen and (max-width: 1029px) {
    body {
        background-image: url("../../components/bckgrnd/loginBack1024.png");
        background-size: cover;
    }
}

@media only screen and (max-width: 770px),
(max-aspect-ratio: 3/4) and (max-width: 550px) and (min-width: 530px) {


    body {
        background-image: url("../../components/bckgrnd/loginBack768.png");
        background-size: cover;
    }
}

 /*41 : 59-ipad air*/
 /*768/1024-ipad mini*/
/*2/3-surface 7 pro*/  
@media only screen and (max-aspect-ratio: 3/4) and (max-width: 770px) and (min-width: 766px),
(min-aspect-ratio: 41 /59) and (max-width: 830px) and (min-width: 810px),
(min-aspect-ratio: 2/3) and (max-width: 915px) and (min-width: 910px){
   div#tenet-card-signup {
       width: 60%;
   }
   .tenet-signup-username  ,
   .tenet-signup-password ,
   .tenet-signup-linkreg{
       font-size: 1.5em;
   }
}
@media only screen and (max-width: 430px),
(max-aspect-ratio: 3/4) and (max-width: 550px) and (min-width: 530px) {
    
    .tenet-sigup-single-logo {
        display: none;
    }

    i.tenet-signup-forgotpass {
        margin-top: 2%;
    }

    body {
        background-image: url("../../components/bckgrnd/loginBack425.png");
        background-size: cover;
    }

    .tenet-signup-signupcard {
        height: 100%;
    }

    .tenet-signup-signupcard,
    .tenet-signup-signup-header,
    input {
        border-radius: 0 !important;
        background: #ebffbd86 !important;
    }
}

@media only screen and (max-width: 380px) {
    body {
        background-image: url("../../components/bckgrnd/loginBack375.png");
        background-size: cover;
    }
}